/*RESET*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*HTML*/
html {

  font-size: 62.5%; /*Per avere 10px in proporzione al font base (16px : 100% = 10px : x%)*/

}

/*CLEARFIX PER ELEMENTI FLOAT*/
.clearfix::after {

  content:"";
  clear: both;
  display: table;
  
}

/*AMPIEZZA IMMAGINE AL 100% DEL CONTENITORE*/
img {

  max-width: 100%;

}

/*TEST RULE*/
/* p {

  color: red;

} */

/*COMMON*/

.content {

  width: 80%;
  margin: 0 auto;
  max-width: 1200px;

  /*DEBUG*/
  /* height: 100px; */
  
  border: 1px solid black

}

/*HEADER*/
header {

  background-color: #ff6900;

}

.header-elements {

  display: flex;

}

.header-left,
.header-center,
.header-right {

  /*DEBUG*/

  height: 50px;
  width: calc(100% / 3);
  border: 1px solid black


}