/*RESET*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*HTML*/
html {

  font-size: 62.5%; /*Per avere 10px in proporzione al font base (16px : 100% = 10px : x%)*/
  font-family: Arial, Helvetica, sans-serif;

}

/*CLEARFIX PER ELEMENTI FLOAT*/
.clearfix::after {

  content:"";
  clear: both;
  display: table;
  
}

/*AMPIEZZA IMMAGINE AL 100% DEL CONTENITORE*/
img {

  max-width: 100%;

}

/*TEST RULE*/
/* p {

  color: red;

} */

/*COMMON*/

.content {

  width: 80%;
  margin: 0 auto;
  max-width: 1200px;

  /*DEBUG*/
  /* height: 100px; */
  
  border: 1px solid black;

}

.display-flex {

  display: flex;

}

.align-items-center {

  align-items: center;

}

.position-absolute {

  position: absolute;

}

/*HEADER*/
header {

  background-color: #ff6900;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color: white;
  font-size: 2rem;

}

.header-elements {


}



header ul {

  list-style-type: none;

}

header li {

  display: inline;
  

}

header a {

  text-decoration: none;
  
  color: inherit;

}

/*HEADER LEFT*/
.header-left li {

  margin-right: 1em;

}


/*HEADER CENTER*/
.header-center {

  text-align: center;
  
}

.header-center > img {

  /*display: inline-block;*/
  width: 50%;
  vertical-align: middle;
  
}

/*HEADER RIGHT*/
.header-right {

  text-align: end;

}

.header-right li {

  margin-left: 1em;

}

.header-left,
.header-center,
.header-right {
  
  width: calc(100% / 3);
  
}

/*MAIN*/

.main-elements {

  margin-top: 10em;

  /*DEBUG*/
  /*height: 5000px;*/
  flex-wrap: wrap;
  justify-content: space-between;
}

/*CARD*/
.card {

  width: calc(100% / 3 - 40px);
  margin-bottom: 4em;

  /*DEBUG*/
  height: 1000px;
  background-color: aquamarine;
  border: 1px dashed black;

}

.card-image {

  position: relative;
  font-size: 2.5rem;

}

 .card-image img {

  top: 0px;
  left: 0px;

} 

.discount,
.sustain {

  top: 450px;
  color: white;
  padding: .3em;

}

.discount {

  
  left: 0px;
  background-color: red;

}

.sustain {

  left: 80px;
  background-color: green;

}

.heart {

  top: 10px;
  right: 0px;
  padding: .3em;
  background-color: white;

}

.appear:hover {


  display:none;

}

/*FOOTER*/

footer {

  background-color: #1a1a1a;

  /*DEBUG*/

  /*height: 200px;*/

}

.footer-elements {

  

}

.footer-left,
.footer-right {

  /*DEBUG*/
  height: 50px;
  width: 50%;
  border: 1px solid white

}