/*RESET*/
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*HTML*/
html {

  font-size: 62.5%; /*Per avere 10px in proporzione al font base (16px : 100% = 10px : x%)*/

}

/*CLEARFIX PER ELEMENTI FLOAT*/
.clearfix::after {

  content:"";
  clear: both;
  display: table;
  
}

/*AMPIEZZA IMMAGINE AL 100% DEL CONTENITORE*/
img {

  max-width: 100%;

}

/*TEST RULE*/
/* p {

  color: red;

} */

/*COMMON*/

.content {

  width: 80%;
  margin: 0 auto;
  max-width: 1200px;

  /*DEBUG*/
  /* height: 100px; */
  
  border: 1px solid black

}

.display-flex {

  display: flex;

}

/*HEADER*/
header {

  background-color: #ff6900;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

}

.header-elements {

  

}

.header-left,
.header-center,
.header-right {

  /*DEBUG*/

  height: 50px;
  width: calc(100% / 3);
  border: 1px solid black


}

/*MAIN*/

.main-elements {

  margin-top: 10em;

  /*DEBUG*/
  /*height: 5000px;*/
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {

  width: calc(100% / 3 - 40px);
  margin-bottom: 4em;

  /*DEBUG*/
  height: 1000px;
  background-color: aquamarine;
  border: 1px dashed black;

}

/*FOOTER*/

footer {

  background-color: #1a1a1a;

  /*DEBUG*/

  /*height: 200px;*/

}

.footer-elements {

  

}

.footer-left,
.footer-right {

  /*DEBUG*/
  height: 50px;
  width: 50%;
  border: 1px solid white

}